body {
  background-color: white;
  font-family: "Nirmala UI";
  cursor: default;
}

textarea,
#dynamic,
select,
#sa_0,
#sa_1 {
  font-family: "Calibri", "Nirmala UI", "LipiFont1", "LipiFont2", "Segoe UI Historic", "LipiFont3", "LipiFont4", "LipiFont5";
}

select {
  border-radius: 5px;
}

option {
  background-color: lightcyan;
  color: orangered;
  font-weight: bolder;
  font-size: 1.3em;
}

.langsw {
  color: yellow;
  background-color: brown;
  font-weight: bold;
}

#main_section {
  display: none;
}

#main_lang {
  margin-left: 30%;
  margin-top: 7px;
}

#collection {
  display: none;
}

.btn {
  margin: 5px;
  border: 3px solid purple;
}

#up_usage {
  margin-right: 20px;
}

#prayog {
  top: 0px;
  left: 0px;
  display: none;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 500px;
  margin-left: 8px;
  margin-bottom: 4px;
  border: 2px solid black;
  background-color: #e0e0cc;
}

#no_prvrtn {
  font-size: 1.15em;
  color: purple;
  font-weight: bold;
}

#table_btn {
  font-size: 1.25em;
  color: blue;
  border: 2px solid brown;
  margin: 3px;
  margin-top: 10px;
  font-weight: bold;
  cursor: help;
  background-color: white;
  padding-top: 3px;
}

#table_btn:hover {
  background-color: #ffff8c;
  color: black;
  border-color: blue;
}

.set_text:hover {
  background-color: brown;
}

#bhaashhaah1 {
  margin-top: 16px;
}

#parivartak {
  font-weight: bold;
  color: red;
  font-size: 1.48em;
  margin-left: 7.5px;
  margin-bottom: 5px;
  margin-right: 28px;
  padding-top: 3.3px;
  border: 2px solid blue;
  background-color: white;
  border-radius: 5px;
}


@keyframes parivartak {
  from {
    background-color: whitesmoke;
    color: brown;
    border-color: blue;
  }

  to {
    background-color: black;
    color: yellow;
    border-color: brown;
  }
}

#parivartak:hover {
  animation-name: parivartak;
  animation-duration: 775ms;
  background-color: black;
  color: yellow;
  border-color: brown;
}

@keyframes convert_img {
  from {
    background-color: black;
  }

  to {
    background-color: blue;
  }
}

#parivartak:hover #convert_img {
  background-color: blue;
  animation-name: convert_img;
  animation-duration: 620ms;
}

#lang_img {
  margin-bottom: 4px;
}

.btn_img {
  margin-bottom: 2px;
}

#convert_img {
  background-color: black;
}

.back {
  margin-left: 15px;
}

#warning1 {
  font-size: 1.15em;
  color: red;
  font-weight: bolder;
  position: fixed;
  bottom: 2px;
  text-align: start;
  left: 2px;
  border: 1px solid black;
  z-index: 10;
  background-color: snow;
  border-radius: 7px;
  padding: 3.4px;
}

#lic {
  color: greenyellow;
  font-size: 1.2em;
  background-color: black;
  font-weight: bolder;
}

.normal {
  background-color: #ecffe8;
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px solid #200b0b;
  word-wrap: break-word;
  width: 92vw;
  height: 41vh;
  resize: none;
  border-radius: 7px;
  margin-top: 6px;
  overflow: scroll;
  margin-bottom: 4px;
  outline: none;
}

#lang2 {
  font-size: 1.17em;
}

#dynamic {
  font-size: 1.2rem;
  border: 3px solid black;
  word-wrap: break-word;
  width: 95%;
  height: 69vh;
  z-index: 40;
  background-color: #e8fffb;
  overflow: scroll;
  outline: none;
  border-radius: 7px;
}

.cpy_btn:hover {
  border-color: purple;
}

.cpy_btn:hover .प्रति {
  fill: black;
}

#dynamic:focus {
  border-color: blue;
}

.normal:focus {
  border-color: blue;
}

p#about_text {
  font-size: 1.6em;
  font-weight: bold;
  color: blue;
}

#paricaya {
  color: green;
  font-weight: bold;
  font-size: 17px;
}

p {
  margin: 0;
}

.lang {
  font-size: 1.44em;
  font-weight: bold;
  color: white;
  border: 1px solid blue;
  background-color: brown;
  padding-left: 1px;
  padding-bottom: 1px;
}

.lang:hover {
  background-color: black;
  border-color: blue;
}

#app_lang {
  font-size: 0.9em;
  font-weight: bold;
  color: yellow;
  border: 2px solid red;
  background-color: black;
  margin-left: 3px;
  padding: 2px;
}

option {
  text-align: center;
}

#app_lang:hover {
  background-color: white;
  color: red;
  border-color: blue;
  font-weight: bolder;
}

#sa_0,
#sa_1 {
  font-size: 1em;
  font-weight: bold;
  color: greenyellow;
  border: 0.8px solid red;
  background-color: black;
  border-radius: 3px;
  padding-left: 3.3px;
  padding-right: 3.3px;
  padding-bottom: 1px;
  padding-top: 1px;
}

#sa_0:hover,
#sa_1:hover {
  color: blue;
  background-color: yellow;
}

#lekhan_sahayika:hover {
  color: yellow;
  font-weight: bolder;
  background-color: black;
}

#sa_text {
  font-size: 1.1em;
  color: brown;
  font-weight: bold;
}

.lang_lbl {
  color: red;
  font-size: 1.6em;
  font-weight: bold;
}

.cpy_btn {
  border: 2px solid blueviolet;
  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 0;
  border-radius: 3.5px;
}

.set_text {
  background-color: white;
  display: none;
}

button {
  border-radius: 5px;
}

#avAharaNam {
  display: none;
}

.av {
  background-color: white;
  margin: 1.4px;
  border: 2px solid brown;
}

.err_msg {
  color: red;
  font-size: 18px;
  font-weight: bolder;
}

#lekhan_sahayika {
  color: #8a2be2;
  font-weight: bolder;
  padding: 2.4px;
  border-radius: 3px;
  font-size: 1.25em;
}

#sahayika_switch {
  margin-right: 3px;
}

#shoonyam {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  margin-left: 7px;
}

#close1_img {
  margin-left: 180px;
  position: absolute;
}

.bhAShAnyAH {
  font-size: 1.47em;
  color: blueviolet;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 7px;
  margin-top: 7px;
}

.bhAShAnyAH:hover {
  color: black;
}

.bhAShAnyAH:hover .bhAShAnyAH_name {
  color: blue;
}

.bhAShAnyAH_name {
  color: brown;
  font-size: 13.8px;
}

.ekam {
  margin-left: 8px;
  margin-right: 8px;
}

.ekam-right {
  margin-right: 8px;
}

.ekam-left {
  margin-left: 8px;
}

.dvayam-left {
  margin-left: 16px;
}

.dvayam-right {
  margin-right: 16px;
}

.dvayam-right-anya-bhAShA {
  margin-right: 15px;
}

.dvayam {
  margin-left: 16px;
  margin-right: 16px;
}

.dvayam-main {
  margin-left: 16px;
  margin-right: 50px;
}

#main_switch {
  position: absolute;
  margin-top: 10px;
  margin-left: 0px;
  z-index: 100;
}

#lang_change_container {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.note-resizebar {
  display: none;
}

#licence {
  display: none;
  overflow-y: scroll;
  height: 420px;
  position: absolute;
  margin-right: 9px;
  margin-left: 1px;
  margin-bottom: 10px;
  margin-top: 9px;
  padding: 9px;
  border: 2px solid purple;
  font-size: 15px;
}

.only_web1 {
  left: 40px;
  margin-left: 30px;
  top: 1px;
}

.flex {
  display: flex;
  align-items: center;
}

.vr-flex {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.in-flex {
  display: inline-flex;
  align-items: center;
}

.mail {
  text-decoration: none;
  color: green;
}

@media (min-width: 490px) {
  .note-resizebar {
    display: block;
  }

  #warning1 {
    font-size: 1.25em;
    left: 10%;
  }
}

#cp1 {
  margin-left: 48px;
  margin-top: 9px;
  position: absolute;
}

.line-break::after {
  content: '\a';
  white-space: pre;
}

.block {
  display: block;
}

.note-editor {
  margin-top: 10px;
}

@media (max-width: 365px) {
  #warning1 {
    font-size: 1.1em;
  }

  .dvayam-right-anya-bhAShA {
    margin-right: 8px;
  }
}

.break {
  display: block;
}

#image {
  margin-left: 6px;
  margin-top: 8px;
}

#xcv {
  margin-top: 6px;
  margin-left: 5px;
}

.imgs {
  background-repeat: no-repeat;
  display: inline-block;
}

#menu_container {
  position: fixed;
  top: 0;
  z-index: 3000;
  left: 0;
  height: 100%;
  width: 0;
}

#menu_body {
  font-weight: bold;
  border: 2.5px solid black;
  background-color: #ffffe3;
  overflow-y: scroll;
  height: 100%;
  display: inline-block;
  overflow-x: scroll;
  z-index: 3001;
  border-top-right-radius: 6.5px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu_borders {
  padding: 4px;
  padding-bottom: 2px;
  border-radius: 4px;
}

.menu_borders:hover {
  background-color: #cbfacb;
}

#menu_body:hover {
  background-color: #f1f1f1;
}

#menu_body::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.no_under {
  text-decoration: none;
}

#info_links {
  margin-top: 19px;
  background-color: white;
  border: 2px solid brown;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 7px;
  max-width: 215px;
}

#info_links:hover {
  border-color: red;
}

.menu_msg {
  color: purple;
  font-size: 0.72em;
  margin-left: 5px;
  padding: 2px;
  text-align: center;
  padding-bottom: 1px;
}

#info_links .menu_msg {
  color: purple;
  font-size: 0.6em;
  margin-left: 5px;
  padding: 2px;
  margin-top: 2px;
  padding-bottom: 1px;
  text-align: center;
}

.menu_items {
  margin: 2px;
  margin-left: 3px;
  margin-right: 3px;
}

.menu_items:hover .menu_msg {
  color: yellow;
  background-color: black;
  border-radius: 3px;
}

#info_links .menu_items:hover .menu_msg {
  color: yellow;
  background-color: black;
  border-radius: 3px;
}

#menu_blocker {
  z-index: 2010;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.sa_radio {
  margin-bottom: 3.25px;
}

#menu_btn {
  margin-bottom: 7.5px;
}

.प्रति {
  fill: #424242;
}